<!DOCTYPE html>
<html>
    <head>
        <title>テストアプリ</title>
        <script>
            const updateLux = async(url, element) => {
                const sensorData = await fetch(url)
                .then(response => response.text())
                const time = Number(sensorData.split(',')[3])
                const target = document.getElementById(element)
                target.innerHTML = `<h1>${parseInt(time/60)}分${time%60}秒</h1>`
            }
        </script>
    </head>
    <body onLoad = "updateLux('/lux', 'data')">
        <center>
            <div id = "data">test</div>
            <input type = "button" value = "更新" onclick="updateLux('/lux', 'data')">
        </center>
    </body>
</html>